body {
    background-color: rgb(212, 224, 233);
}

#challenge-container {
    display: flex;
    height: 95vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.qr-component {
    display: flex;
    height: 499px;
    width: 320px;
    border-radius: 10px;
    background-color: white;
}

.contentarea {
    display: flex;
    flex-direction: column;
    margin: 16px;
    border-radius: 10px;
    background-color: blue;
}