body {
    background-color: rgb(212, 224, 233);
}

#challenge-container {
    display: flex;
    height: 95vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.qr-component {
    display: flex;
    height: 499px;
    width: 320px;
    border-radius: 10px;
    background-color: white;
}

.contentarea {
    display: flex;
    flex-direction: column;
    margin: 16px;
    border-radius: 10px;
}

.qr-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-area img {
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

p {
    text-align: center;
}